<a href="https://colab.research.google.com/github/cocoisland/DS-Unit-2-Sprint-1-Linear-Algebra/blob/master/Linear_Algebra_Sprint_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Linear Algebra

## 1.1 Graph vector $\vec{a}$ 

\begin{align}
\vec{a} = \begin{bmatrix} 3 \\ 2 \end{bmatrix}
\end{align}

## 1.2 Find $||\vec{b}||$. What does the norm of a vector represent?
\begin{align}
\vec{b} = \begin{bmatrix} 17 & -4 & -2 & 1\end{bmatrix}
\end{align}

## 1.3 Find $\vec{c} \cdot \vec{d}$

\begin{align}
\vec{c} = \begin{bmatrix}3 & 7 & -2 & 12\end{bmatrix}
\qquad
\vec{d} = \begin{bmatrix}9 & -7 & 4 & 6\end{bmatrix}
\end{align}

## 1.4 Find $E^{-1}$ and $E^{T}$

\begin{align}
E = 
\begin{bmatrix}
    7 & 4 & 2 \\
    1 & 3 & -1 \\
    2 & 6 & -4
\end{bmatrix}
\end{align}

# Intermediate Linear Algebra

## 2.1 Suppose that the number of customers at a ski resort as well as the number of inches of fresh powder (snow)  was recorded for 7 days. 

### Customers: [820, 760, 1250, 990, 1080, 1450, 1600]

### Inches of new snow: [0, 1, 7, 1, 0, 6, 4 ]

## Find the mean, variance, and standard deviation for both the number of customers and inches of new snow for the week. You may use library functions, dataframes, .describe(), etc.

In [0]:
import pandas as pd

customers = [820, 760, 1250, 990, 1080, 1450, 1600]
snow = [0, 1, 7, 1, 0, 6, 4]

df = pd.DataFrame({'customers': customers, 'snow': snow})

df.head()

   customers  snow
0        820     0
1        760     1
2       1250     7
3        990     1
4       1080     0

In [0]:
##### Your Code Here #####

## 2.2 Are the variances of the number of customers and inches of snow comparable? 
## Why or why not?

## 2.3 Find the variance-covariance matrix for the number of customers and inches of snow at the ski resort.

# PCA

## 3.1 Standardize the data so that it has a mean of 0 and a standard deviation of 1. (You may use library functions)

We have included some code to get you started so that you don't get stuck on something that isn't standardizing the data or PCA.

This might be helpful:

<https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html>

In [0]:
# Let me get you some data to start you off.
import pandas as pd

data = {"Country": ["England","Wales","Scotland","North Ireland"], 
        "Cheese": [105,103,103,66], 
        "Carcass_Meat": [245,227,242,267], 
        "Other_Meat": [685, 803, 750, 586], 
        "Fish": [147, 160, 122, 93], 
        "Fats_and_Oils": [193, 235, 184, 209], 
        "Sugars": [156, 175, 147, 139], 
        "Fresh_Potatoes": [720, 874, 566, 1033], 
        "Fresh_Veg": [253, 265, 171, 143], 
        "Other_Veg": [488, 570, 418, 355], 
        "Processed_Potatoes": [198, 203, 220, 187], 
        "Processed_Veg": [360, 365, 337, 334], 
        "Fresh_Fruit": [1102, 1137, 957, 674], 
        "Cereals": [1472, 1582, 1462, 1494], 
        "Beverages": [57,73,53,47], 
        "Soft_Drinks": [1374, 1256, 1572, 1506], 
        "Alcoholic Drinks": [375, 475, 458, 135], 
        "Confectionery": [54, 64, 62, 41]}

df = pd.DataFrame(data)

# Look at the data
df.head()

,Alcoholic Drinks,Beverages,Carcass_Meat,Cereals,Cheese,Confectionery,Country,Fats_and_Oils,Fish,Fresh_Fruit,Fresh_Potatoes,Fresh_Veg,Other_Meat,Other_Veg,Processed_Potatoes,Processed_Veg,Soft_Drinks,Sugars
0,375,57,245,1472,105,54,England,193,147,1102,720,253,685,488,198,360,1374,156
1,475,73,227,1582,103,64,Wales,235,160,1137,874,265,803,570,203,365,1256,175
2,458,53,242,1462,103,62,Scotland,184,122,957,566,171,750,418,220,337,1572,147
3,135,47,267,1494,66,41,North Ireland,209,93,674,1033,143,586,355,187,334,1506,139

In [0]:
# Only numeric columns in dataframe for pasing to PCA

X = df.drop('Country', axis=1)
X.head()

,Alcoholic Drinks,Beverages,Carcass_Meat,Cereals,Cheese,Confectionery,Fats_and_Oils,Fish,Fresh_Fruit,Fresh_Potatoes,Fresh_Veg,Other_Meat,Other_Veg,Processed_Potatoes,Processed_Veg,Soft_Drinks,Sugars
0,375,57,245,1472,105,54,193,147,1102,720,253,685,488,198,360,1374,156
1,475,73,227,1582,103,64,235,160,1137,874,265,803,570,203,365,1256,175
2,458,53,242,1462,103,62,184,122,957,566,171,750,418,220,337,1572,147
3,135,47,267,1494,66,41,209,93,674,1033,143,586,355,187,334,1506,139

In [0]:
# We'll also turn the X dataframe into an numpy array for you in case 
# you're more familiar with using numpy arrays ;)

# You may choose which one you would rather use.

# Feel free to change the variable names if you don't like mine.

numpy_X = X.values
print(numpy_X)

[[ 375   57  245 1472  105   54  193  147 1102  720  253  685  488  198
   360 1374  156]
 [ 475   73  227 1582  103   64  235  160 1137  874  265  803  570  203
   365 1256  175]
 [ 458   53  242 1462  103   62  184  122  957  566  171  750  418  220
   337 1572  147]
 [ 135   47  267 1494   66   41  209   93  674 1033  143  586  355  187
   334 1506  139]]

In [0]:
##### Your Code Here #####

## 3.2 Perform PCA on the data and graph Principal Component 1 against Principal Component 2. (You may use library functions)

This might be helpful:

<https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html>

In [0]:
##### Your Code Here #####

# Clustering

## 4.1 Use K-Means to cluster the following data and then graph your results. (You may use library functions)

We have included some code to get you started so that you don't get stuck on something that isn't standardizing clustering.

Prioritize calculating the clusters over graphing them. 

Scikit-Learn K-Means Documentation:

<https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html>

In [0]:
points = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/points.csv')
points.head()

          x         y
0 -7.846803 -3.421277
1 -3.554323 -6.884729
2 -0.192822 -9.671030
3 -6.401456 -5.223972
4 -0.804026 -9.704457

In [0]:
# We'll also turn the dataframe into an numpy array for you in case 
# you're more familiar with using numpy arrays ;)

# You may choose which one you would rather use.

# Feel free to change the variable names if you don't like mine.

numpy_points = points.values
print(numpy_points)

[[ -7.84680264  -3.42127666]
 [ -3.55432332  -6.88472945]
 [ -0.19282234  -9.67103016]
 [ -6.40145554  -5.22397192]
 [ -0.8040258   -9.70445652]
 [ -4.9771936   -6.13883603]
 [ -8.11899027  -3.62410932]
 [ -8.1456292   -2.78795056]
 [ -3.56865911   5.40178102]
 [ -5.71170922  -6.80201318]
 [ -4.00606304  -7.99484628]
 [ -4.34701906  -7.07327411]
 [  0.02288488 -10.57220028]
 [ -4.65338805  -8.10057054]
 [ -8.26306683  -4.36478167]
 [ -1.78925444 -11.0957949 ]
 [ -7.56683375  -4.39166363]
 [ -3.00212691  -5.73856732]
 [ -2.57673872  -7.83223833]
 [  6.74057358   4.13730878]
 [ -7.96610489  -3.14997573]
 [  6.26556835   5.01331613]
 [  6.28517859   4.44708732]
 [  6.40527985   4.38379283]
 [ -2.68559499  -8.51265544]
 [ -5.28302702  -9.34170965]
 [  0.07097306 -10.11371322]
 [ -1.64051597   4.00264149]
 [ -4.60671171  -8.36655774]
 [ -4.6838594   -7.26710703]
 [ -3.16629032  -7.64623711]
 [ -2.56850303  -7.13484226]
 [ -0.09036863  -7.64228289]
 [  6.8415471    2.62542108]
 [ -6.41252467  -8.97155321]
 [ -4.60823024  -6.99620796]
 [ -2.71350147  -8.26037851]
 [ -3.16471319  -6.47200385]
 [ -3.65602793   4.42171019]
 [ -1.552325    -9.33467641]
 [  1.36739144 -10.77458169]
 [  6.41960353   4.79764796]
 [ -2.81173656   4.10609551]
 [ -3.6922981    4.68773656]
 [ -4.20618952   3.48466831]
 [ -3.05144177  -5.14348609]
 [ -1.84182037  -7.57734847]
 [ -2.94741937  -6.83986788]
 [ -8.25922705  -2.73102424]
 [  0.05025867  -8.96513154]
 [  4.11077574   4.35324074]
 [ -6.45101016  -2.6383825 ]
 [ -8.1987274   -3.0558165 ]
 [ -4.10305359   4.05892927]
 [  7.63180199   5.88305443]
 [  1.39059029  -8.76917772]
 [ -4.02059409  -6.5049644 ]
 [ -5.11009933   3.41163516]
 [ -3.96889717   4.47683113]
 [ -8.54835662  -3.24021699]
 [  4.7898772    3.39796438]
 [ -0.30203971  -8.29327126]
 [ -8.74859961  -3.22430316]
 [ -3.54706653   4.95609902]
 [  4.64370924   3.12619171]
 [ -2.38877013   4.81681724]
 [  6.03756775   4.34688145]
 [ -3.6040341    3.34888672]
 [ -6.60252931  -5.09530682]
 [ -5.2570749    4.09267438]
 [ -1.74863818  -7.14967648]
 [ -3.93109356  -6.93074431]
 [ -4.42331     -8.66892902]
 [ -4.75551782  -8.39125882]
 [  6.95540396   3.09377809]
 [  7.0500742    3.11737684]
 [ -4.80311857  -7.53955089]
 [ -4.18997108  -7.65907662]
 [ -2.09332462   3.99194269]
 [  6.00652765   3.22917768]
 [ -4.03818672   4.59980061]
 [ -4.41703098  -6.24559395]
 [ -4.19436544  -8.975763  ]
 [ -3.76788213  -5.08305977]
 [ -3.41389586   2.36649429]
 [ -3.16797575  -7.10658902]
 [ -3.73823882   3.66599927]
 [ -3.02976815  -9.03642233]
 [ -5.28252833  -8.67974398]
 [  4.8076014    4.13519484]
 [ -2.69624431   3.78941825]
 [ -3.64239394  -7.42297132]
 [  3.72872      2.5928597 ]
 [ -2.52582889  -6.88636366]
 [ -0.33749842 -10.88481269]
 [ -4.30553109  -8.52907157]
 [ -2.32555356  -7.34298373]
 [ -3.74639247 -10.19902865]
 [ -2.56573753  -6.56978879]
 [  0.18181752 -10.08437364]
 [ -2.79771581  -8.55948081]
 [ -1.88540987  -6.55107598]
 [ -9.22621441  -5.39142132]
 [ -5.36675394  -7.77257972]
 [ -3.74888988  -6.26165161]
 [  7.01909419   2.72708944]
 [ -9.2752388   -2.90227813]
 [ -8.81644802  -4.53245424]
 [ -8.4762924   -3.24445346]
 [  5.86438886   4.65155037]
 [ -1.25194633 -10.0212011 ]
 [  6.06325242   3.25371568]
 [ -4.2991717   -8.14292715]
 [-10.11847312  -3.35352688]
 [ -1.76735254  -8.06991415]
 [ -4.87690213  -6.51669493]
 [ -4.46220291   2.68216558]
 [ -4.07921703   2.30462746]
 [  7.18941834   4.43070908]
 [ -5.2118049    4.75216774]
 [  6.74597024   3.51192813]
 [  1.09037656 -10.37429399]
 [ -4.54124116 -10.030478  ]
 [ -7.80293271  -4.12905153]
 [ -5.51843637  -8.99786296]
 [ -7.58913402  -3.26203958]
 [ -2.36092827  -7.46404353]
 [  6.6301605    4.04798165]
 [ -3.23120817   3.40260416]
 [ -8.14075748  -3.12282667]
 [ -1.81445132 -10.22896287]
 [ -8.90794399  -3.82491288]
 [ -5.79324812  -9.17498226]
 [ -9.408878    -2.81230384]
 [ -4.48465879   4.05235335]
 [ -1.83719667   4.48022706]
 [ -0.72316787 -10.21010838]
 [  7.70176821   3.23791985]
 [ -8.7804158   -3.66380156]
 [ -4.27959605  -7.14863075]
 [ -1.90942572   4.75623422]
 [ -3.4286084   -7.74052202]
 [ -3.44993371  -8.90149048]
 [  7.19326936   3.39345278]
 [  0.33705916  -9.10921245]
 [ -4.29973904   3.9155908 ]
 [ -2.85468388  -6.95461797]
 [ -4.32689918   5.04989571]
 [ -8.9112633   -3.0937568 ]
 [ -3.71045293  -7.54888612]
 [ -3.36196046  -8.94855287]
 [ -1.11837057  -9.475153  ]
 [ -7.80035618  -4.51957114]
 [  6.13450408   3.30507042]
 [ -4.35371751  -9.17572147]
 [ -4.07215846   5.01331006]
 [  0.37322188  -9.81616956]
 [  6.49245525   4.02844744]
 [ -3.35126085  -5.86605412]
 [ -9.47331985  -2.96707841]
 [ -1.53395558 -10.30489651]
 [ -3.21118321  -8.52105722]
 [ -3.471184     5.11425073]
 [ -8.73398896  -1.69045771]
 [  5.61994199   3.3956305 ]
 [  6.12105526   4.09632606]
 [ -1.86253127  -8.21813537]
 [ -2.72931589   2.90611642]
 [ -0.06786526  -9.7903028 ]
 [  0.76767946  -8.24233776]
 [ -9.84832503  -4.33646208]
 [ -0.45637126 -10.27474973]
 [ -3.58174648   4.60920068]
 [  7.80788463   3.46852196]
 [ -0.58026095  -9.9127667 ]
 [ -2.21628811  -7.17224002]
 [ -3.4303692   -6.33690932]
 [ -3.7185896   -8.09151633]
 [ -5.70252222  -6.56360077]
 [ -7.26221867  -4.39970327]
 [ -4.18120458  -6.16626421]
 [ -0.79916322  -8.39620791]
 [ -3.38562764  -5.66049265]
 [ -2.76058361  -8.1271259 ]
 [ -1.77111315  -9.81486244]
 [ -2.796932    -9.09006862]
 [ -9.77017495  -4.5613408 ]
 [  7.4304053    3.00441617]
 [ -3.92266499   5.11732726]
 [  0.04960262  -8.43200926]
 [ -3.4884452   -8.01897549]
 [ -9.15237278  -4.38075883]
 [  6.33095646   4.60754314]
 [ -7.48340385  -2.07158872]
 [ -4.58111713  -9.28640981]
 [ -3.5606887    4.56732041]
 [  5.05121586   4.74508597]
 [  6.12762387   4.28518769]
 [ -1.78307825  -8.89039394]
 [ -0.33958684  -8.34495248]]

In [0]:
##### Your Code Here #####